body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

header {
    background-color: blanchedalmond;
  
 
}

header img {
    width: 500px;
    height: 500px;
}

main {
    background-color: brown;

}

footer {
    background-color: blanchedalmond;
}

